/* Go crazy with your own styles here */
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */

h1, h2, h3, h4, h5, h6, a, div, p, span {
  font-family: "Roboto", sans-serif;
}

/* SETTINGS OPTIONS */
.brand-blue { background-color: #009ed4; color: white; }
.brand-blue-dark { background-color: #009ed4; color: white; }
.brand-blue-darker { background-color: #009ed4; color: white; }
.brand-green { background-color: #58CBA3; color: white; }
.brand-green-dark { background-color: #50BA99;  color: white;}
.brand-green-darker { background-color: #4CA589; color: white; }
.brand-grey-light { background-color: #eeeeee; color: #212121; }
.brand-grey-dark { background-color: #4A4A4A; color: white; }

/* BUTTONS */
.cta-button-primary {
	height: 42px;
    line-height: 41px;
    min-width: 280px;
    width: auto;
	background: #009ed4;
    color: #fff;
}

/* LAYOUTS */
.container {
	max-width: 1200px;
	width: 100%;
}

/* HOME PAGE .main */
.main .mdl-typography--subhead {
	font-size: 24px;
	line-height: 35px;
}
.main .tagLine {
	padding-bottom: 10px;
	font-size: 112px;
	color: $white-87;
	font-weight:100;
	line-height: 132px;
}
.main .tagLine .mdl-cell {
	font-weight: 300;
}
        
section.homeHero { 
	background: #000000 url('/media/1052/background-desktop.jpg');
	height: 100vh; 
	display: table; 
	width: 100%; 
	color: white;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover; 
}
section.homeHero .content { 
	min-height: 300px; 
	text-align: center;
	display: table-cell; 
	position: relative;
	vertical-align: middle;
}
.home-hero { display: none; }
.brokerCarousel {
	max-height: 510px;
    position: relative;
    overflow-y: hidden;
    z-index: 2;
    background-color: #0D1218;
    background-repeat: no-repeat;
	color: white;
	background-position: center center;
}