﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

	<section class="homeHero">
		<div class="content">
			<div class="container">
				<div id="title-section" class="mdl-typography--text-center" ng-class="screenSize.current">
				  <div class="mdl-grid tagLine" ng-class="screenSize.current">
					<div class="mdl-cell mdl-cell--12-col">
						@Umbraco.Field("heroHeading")
					</div>
				  </div>
				  <div class="mdl-grid">
					<div class="mdl-cell mdl-cell--12-col">
					  <div class="welcomeMessage mdl-typography--subhead mdl-typography--font-light">
						@Umbraco.Field("heroSubHeading")
					  </div>
					</div>
				  </div>
				  <div class="mdl-grid getStarted">
					<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
						<button class="mdl-button medium-size mdl-button--primary getStartedBtn" ui-sref="wizard">
						  @Umbraco.Field("heroCTA")
						</button>
					  <div class="buttonSubline">Our home loan wizard will help you find the best broker for the job</div>
					</div>

					<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
					  <div class="mdl-typography--subhead mdl-typography--font-bold or">
						OR
					  </div>
					</div>
					<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">

					  <suburb-profile-search homepage="true"></suburb-profile-search>
					</div>
				  </div>
				</div>
				<div class="scrollDown" ng-if="screenSize.desktop">
				  <img src="https://s3-ap-southeast-2.amazonaws.com/mylocalbrokercdn/images/mlbfe/triangleScroll.png"
					   alt="scroll down" ng-click="scrollToLenders()"/>
				</div>
			  </div>
			</div>
		</div>
	</section>