﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
	var home = @CurrentPage.Site();
}

<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@CurrentPage.siteDescription">

    <title>@CurrentPage.Name | @CurrentPage._siteTitle</title>
	
	<!-- Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/fanoe.css">
    <link rel="stylesheet" type="text/css" href="/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="/css/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="/css/material.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>

  </head>

  <body>
	<!-- 
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-8 col-sm-12 col-md-4">
			<a href="@home.Url">
            	<div class="brand" style="background-image:url('@(home.SiteLogo)')"></div>
			</a>
          </div>
          <div class="col-sm-12 col-md-8">
            <nav>
			  
              @{ Html.RenderPartial("MainNavigation"); }

            </nav>
          </div>
        </div>
      </div>

      <div id="toggle" class="toggle">
        <a href="#" class="cross"><span></span></a>
      </div>
    </header>
	-->
			
	<div class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button backgroundImage mdl-layout--fixed-header" ng-class="screenSize.current" ng-controller="NavigationCtrl">
      <header class="mdl-layout__header mdl-layout__header--transparent" ng-class="navContent.menuType"><!--Custom class for header-->
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">
            <a href="@home.Url">
            	<div class="brand" style="background-image:url('@(home.SiteLogo)')"></div>
			</a>
          </span>
          <nav class="mdl-navigation mlb-flex">
             @{ Html.RenderPartial("MainNavigation"); }
            <div class="manage">
              <button class="mdl-button small-size" ng-click="performAccessAction()">LOGIN</button>
            </div>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
       <div class="header">
         <a ng-click="goTo('main')" class="navbar-brand" ng-include src="'https://s3-ap-southeast-2.amazonaws.com/mylocalbrokercdn/images/mlbfe/MyLocalBrokerLogo.svg'"></a>
       </div>
        <div class="mdl-navigation" ng-repeat="section in currentNavigation.sidebar">
          <!--<div class="title">{{section.title}}</div>-->
          <a ng-repeat="listItem in section.items" class="mdl-navigation__link" ng-click="goTo(listItem.link, listItem.newWindow)">{{listItem.title}}</a>
          <a class="mdl-navigation__link" ng-click="performAccessAction(closeMenu)">{{ auth.loggedIn ? 'LOGOUT' : 'LOGIN' }}</a>
        </div>
        <!-- your account -->
        <!--<nav class="mdl-navigation">-->
          <!--<div class="title">YOUR ACCOUNT</div>-->
          <!--<a ng-repeat="listItem in currentNavigation.account" class="mdl-navigation__link" ng-click="goTo(listItem.link)">{{listItem.title}}</a>-->
        <!--</nav>-->
      </div>
      <div class="mlb-col-primary-400 main-tab-menu" ng-if="navContent.tabs === 'dashboard'">
        <div class="page-layout mlb-col-primary-text-light">
          <md-tabs md-selected="navContent.activeTab" md-border-bottom md-autoselect>
            <md-tab ng-repeat="tab in currentNavigation.tabs.dashboard"
              label="{{tab.title}}" ng-click="goTo(tab.link)">
            </md-tab>
            <md-tab label="Logout" ng-click="logout()"></md-tab>
          </md-tabs>
        </div>
      </div>
      <main class="mdl-layout__content" ng-class="{'tablet-down': screenSize.tablet_atMost}">
        <div class="page-content">
          <div ui-view="" autoscroll="true"></div>
        </div>
        <footer-suburb-profile-search ng-if="navContent.footerSuburbProfileSearch"></footer-suburb-profile-search>
        <mlb-footer ng-if="navContent.footer"></mlb-footer>
      </main>

      <mlb-video-overlay></mlb-video-overlay>
    </div>
			

	@RenderBody()

    <footer class="field dark">
      <div class="container">
        <div class="row">
			
		  @{ Html.RenderPartial("BottomNavigation"); }

        </div>
      </div>
    </footer>
    
    <!-- Javascripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
	<script src="/scripts/fanoe.js"></script>
  </body>
</html>